<div class="menu">
	<h3 class="text-center">
		Simple Note 
	</h3>
</div>

<div class="container">

<div class="row">
  <div class="col-xs-12 note-input">
    <div class="input-group">
		<form>
			<input type="text" placeholder="Make a note here." class="form-control" ng-model="newItem.name">

		</form>
      <span class="input-group-btn">
        <button class="btn btn-success"
			type="button" ng-click="insert(newItem)">
			Add
		</button>
      </span>
    </div><!-- /input-group -->
  </div>
</div> <!-- /.row -->
<br/>

<ul class="card-group";>
	<li class="card" ng-repeat="task in tasks track by $index">
		<a href="#" editable-text="task.name" onaftersave="update(task)">
			{{ task.name || 'empty' }}
		</a>
		<button class="pull-right btn btn-danger btn-xs" ng-click="remove(task)">
			Delete
		</button>
	</li>
</ul>

</div>
